.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: linear-gradient(to bottom, rgb(118,124,241), rgb(165,57,230));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 300px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.login-img {
    border-radius: 100%;
    width: 100px;
    margin-bottom: 15px;
}

.login-text {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    text-align: center;
    margin-bottom: 10px;
}

.login-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.fa-solid {
    color: white;
    margin-right: 15px;
    margin-bottom: 10px;
}

.login-field-input {
    color: white;
    background: none;
    border: none;
    outline: none;
    margin-bottom: 5px;
    width: 250px;
}

.login-field-input::placeholder {
    color: white;
}

.login-button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 5px;
}

.sign-up {
    color: white;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}