{% extends 'base/main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "base/styles/login.css" %}">

<div class="login-wrapper">
    <div class="login-container">
        <img src="{% static "base/images/logo.png" %}" alt="" class="login-img">

        <div class="login-text">LOG IN</div>
        
        <form method="POST" class="login-form">
            {% csrf_token %}
            <div class="login-field">
                <i class="fa-solid fa-user"></i>
                <input type="text" class="login-field-input" name="username" placeholder="Username">
            </div>
            <div class="login-field">
                <i class="fa-solid fa-lock"></i>
                <input type="password" class="login-field-input" name="password" placeholder="Password">
            </div>

            <button class="login-button" type="submit">Login</button>
        </form>

        <a class="sign-up" href="{% url "register" %}">Don't have an account? Sign up!</a>
    </div>
</div>
{% endblock content %}