{% extends "base/main.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "base/styles/login.css" %}">

<div class="login-wrapper">
    <div class="login-container">
        <img src="{% static "base/images/logo.png" %}" alt="" class="login-img">

        <div class="login-text">REGISTER</div>
        
        <form method="POST" class="login-form">
            {% csrf_token %}
            <div class="login-field">
                <i class="fa-solid fa-user"></i>
                {{form.username}}
            </div>
            <div class="login-field">
                <i class="fa-solid fa-envelope"></i>
                {{form.email}}
            </div>
            <div class="login-field">
                <i class="fa-solid fa-lock"></i>
                {{form.password1}}
            </div>
            <div class="login-field">
                <i class="fa-solid fa-lock"></i>
                {{form.password2}}
            </div>

            <button class="login-button" type="submit">Register</button>
        </form>

        <a class="sign-up" href="{% url "login" %}">Already have an account? Sign in!</a>
    </div>
</div>

{% endblock content %}